<nav>
  <a href="/" class="nav-logo">
    <img src="/assets/lockup-full-color.svg" alt="Level Up Civics" class="nav-logo-img">
  </a>
  <ul class="nav-links">
    <li><a href="/program/">The Program</a></li>
    <li><a href="/#competition">Battle of the Counties</a></li>
    <li><a href="/educators/">For Educators</a></li>
    <li><a href="/partners/">Partners</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
  <div class="nav-ctas">
    <a href="/donate/" class="btn-nav-ghost">Donate</a>
    <a href="/submit/" class="btn-nav-red">Submit Project</a>
  </div>
</nav>
